<ul class="toolbar email-toolbar on-light">
  <li>
    <a href="" class=""
      ng-click="show('mobile')"
      ng-class="{ active: panelVisibility == 'mobile' }">
        <i class="fa fa-mobile"></i>
        Mobile
    </a>
  </li>
  <li>
    <a href="" class=""
      ng-click="show('json')"
      ng-class="{ active: panelVisibility == 'json' }">
        <i class="fa fa-code"></i>
        Source
    </a>
  </li>
  <li>
    <a href="" class=""
      ng-click="delete(item)">
        <i class="fa fa-trash-o"></i>
        Delete
    </a>
  </li>
</ul>

<div class="email-content fbpage-content">
    <div ng-hide=" panelVisibility != 'json' ">
      <pre>{{payload | json}}</pre>
    </div>

    <div ng-hide=" panelVisibility != 'mobile' " class="mobile">
      <div class="marvel-device nexus5">
        <div class="top-bar"></div>
        <div class="sleep"></div>
        <div class="volume"></div>
        <div class="camera"></div>
        <div class="screen">
          <header>
            {{app.name}} FB Page
          </header>
          <section>
            <div class="col1">
              <div class="avatar">{{app.letter}}</div>
            </div>
            <div class="col2">
              <div class="content text" ng-show="displayType === 'unknown'">
                Sorry :(. We are not able to display a preview. Check the source. Unknown template type
              </div>
              <div class="content text" ng-show="displayType === 'text'">
                {{payload.message.text}}
              </div>
              <div class="content image" ng-show="displayType === 'image'">
                <img ng-src="{{payload.message.attachment.payload.url}}" />
              </div>
              <div class="content audio" ng-show="displayType === 'audio'">
                <audio controls ng-src="{{getPayloadUrl()}}"></audio>
              </div>
              <div class="content video" ng-show="displayType === 'video'">
                <video controls ng-src="{{getPayloadUrl()}}"></video>
              </div>
              <div class="content template" ng-show="displayType === 'template_generic'">
                <div class="element" ng-repeat="element in payload.message.attachment.payload.elements">
                  <div style="background-image: url('{{element.image_url}}');" class="img-css"
                    ng-show="!!element.image_url"></div>
                  <span class="txt title">{{element.title}}</span>
                  <span class="txt subtitle">{{element.subtitle}}</span>
                  <span class="txt url">{{element.default_action.url | url_hostname}}</span>
                  <span class="button" ng-repeat="button in element.buttons">
                    {{button.title}}
                  </span>
                </div>
              </div>
              <div class="content template" ng-show="displayType === 'template_button'">
                <div class="element">
                  <span class="text-block">{{payload.message.attachment.payload.text}}</span>
                  <span class="button" ng-repeat="button in payload.message.attachment.payload.buttons">
                    {{button.title}}
                  </span>
                </div>
              </div>
            </div>
          </section>
          <footer ng-show="!!payload.message.quick_replies">
            <div class="row">
              <div class="reply" ng-repeat="reply in payload.message.quick_replies">
                <i ng-show="reply.content_type === 'location'" class="icon fa fa-map-marker"></i>
                <i ng-show="!!reply.image_url" style="background-image: url('{{reply.image_url}}');" class="img-css icon"></i>
                <span ng-show="reply.content_type === 'text'" class="title">{{reply.title}}</span>
                <span ng-show="reply.content_type === 'location'" class="title">Send Location</span>
              </div>
            </div>
          </footer>
        </div>
      </div>
    </div>
</div>
