<div class="main-content">
  <h2>Notification Catcher</h2>

  <p>
    Notification Catcher is a simple way to test different kinds of notifications
    (emails, SMS, webpushs...).
  </p>
  <p>
    For questions, feature requests or to report issues
    <a href="https://github.com/notifme/catcher" target="_blank">visit this project on GitHub</a>.
  </p>

  <br>
  <p>
    Notification Catcher is built on top of the great
    <a href="https://github.com/djfarrelly/MailDev" target="_blank">Maildev</a>.
  </p>

  <br>
  <p>
    <small>You are running notification-catcher v.{{ config.version }}</small>
  </p>
</div>
