<div class="main-content">
  <h2>Tsuchi</h2>

  <p>
    Tsuchi is a simple way to test different kinds of notifications (emails,
    SMS, webpushs...).
  </p>
  <p>
    For questions, feature requests or to report issues
    <a href="https://github.com/westbrookdaniel/tsuchi" target="_blank"
      >visit this project on GitHub</a
    >.
  </p>

  <br />
  <p>
    Tsuchi is built on top of the great
    <a href="https://github.com/notifme/catcher" target="_blank"
      >Notification Catcher</a
    >
    which is in turn built on top of
    <a href="https://github.com/djfarrelly/MailDev" target="_blank">Maildev</a>
  </p>

  <br />
  <p>
    <small>You are running tsuchi v.{{ config.version }}</small>
  </p>
</div>
